<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Masti Time</title>
</head>
<body>
    <h1 class="text-center">It's Masti Time</h1>
    <div class="my-4" id="action">
        <div class="input-wrapper text-center">
            <input class="text-center" placeholder="Enter your username" id="username"/>
        </div>
        <button class="my-2" id="start">Start</button>
    </div>
    <div id="main" class="">
        <div class="video-call">
            <div class="peer">
                <p class="text-center" id="other-username">Finding...</p>
                <div class="frame">
                    <video autoPlay id="other-user" src=""></video>
                    <div class="loader" id="other-loader"></div>
                </div>
            </div>
            <div class="peer">
                <p class="text-center" id="self-username">Loading...</p>
                <div class="frame">
                    <video autoPlay id="self-user" src=""></video>
                    <div class="loader" id="self-loader"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>